
#headLine,h2{
    text-decoration: underline;
}
.oldBike, .HISTimg{
    padding: 5px;
    float:right;
}
.searchLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
sup{
    color: blue;
}
.Etymology{
    background: #eeaaaa;

}
.History{
    background: rgb(234, 194, 194);
}

  

